.footer {
    background-color: #999898;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.footer-logo img {
    max-width: 150px;
}

.footer-contact {
    flex: 1;
    margin-left: 300px;
}
.footer-links{
    margin-right: 200px;
}
.footer-contact h3, .footer-links h3 {
    font-size: 18px;
}

.footer-contact p, .footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul {
    padding-left: 0;
    margin-bottom: 50px;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 100px 0;
}

.footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
}
.icon{
    margin-bottom: 20px;
    margin-right: 100px;
}