<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- navbar -->
    <div>navbar</div>
    <!-- /navabar -->

    <!-- content -->
    <div class="content flex">
      <div class="v-ads flex"></div>
      <div class="card-container">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
      </div>
    </div>
    <!-- /content -->

    <!-- footer -->
    <div>footer</div>
    <!-- /footer -->
  </body>
</html>
